/*-----------------------functin for color in sass-------------------------------------------------*/
/*---------------------------close function for color object----------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------CUSTOM PROPERTIES------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--font sizes---*/
/*---font families--*/
/*--colors-----*/
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------DO RESETS FIRST--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #0c0e18;
  line-height: 1.5;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
/*--------------------------IMPORTANT RESETS--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1;
  height: 1;
  padding: 0;
  margin: -1;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

/*---------colors------*/
.bg-dark {
  background-color: #0c0e18;
}

.bg-accent {
  background-color: #d2d8f9;
}

.bg-white {
  background-color: white;
}

.text-dark {
  color: #0c0e18;
}

.text-accent {
  color: #d2d8f9;
}

.text-white {
  color: white;
}

.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: clamp(5rem, 8vw + 1rem, 9.375rem);
}

.fs-800 {
  font-size: 6.25rem;
}

.fs-700 {
  font-size: 3.5rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1.75rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/*-------------numbers--------------*/
.numberedtitles {
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-size: 1.75rem;
  font-family: "Barlow Condensed", sans-serif;
}

.numberedtitles span {
  font-weight: 700;
  margin-right: 0.5em;
  color: rgba(255, 255, 255, 0.25);
}

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------COMPONENTS------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.largebutton {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  font-size: 2rem;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  place-items: center;
  z-index: 1;
}

.largebutton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 500ms linear, -webkit-transform 750ms ease-in-out;
  transition: opacity 500ms linear, -webkit-transform 750ms ease-in-out;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
  transition: opacity 500ms linear, transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.largebutton:focus::after,
.largebutton:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 35em) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    margin-right: -2.5rem;
    background: rgba(255, 255, 255, 0.25);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .primary-header nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.primary-header .mobile-toggler {
  display: none;
}

@media (max-width: 35em) {
  .primary-header .mobile-toggler {
    display: block;
    position: absolute;
    right: 1rem;
    top: 2rem;
    z-index: 3;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
  }
  .primary-header .mobile-toggler[aria-expanded~="true"] {
    background-image: url(./assets/shared/icon-close.svg);
    background-repeat: no-repeat;
  }
  .primary-header .mobile-toggler:focus-visible {
    outline-offset: 5px;
  }
}

.primary-header .primarynavigation {
  --gap: clamp(2rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}

.primary-header .primarynavigation a {
  text-decoration: none;
}

.primary-header .primarynavigation a > span {
  margin-right: 0.5em;
  font-weight: 700;
}

@media (max-width: 35em) {
  .primary-header .primarynavigation {
    --underline-gap: 0.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    inset: 0 0 0 30%;
    list-style: none;
    z-index: 2;
    padding: min(20rem, 10vh) 2rem;
    margin: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .primary-header .primarynavigation > .active {
    border: 0;
  }
  .primary-header .primarynavigation[data-visible~="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 35em) {
  .primary-header .primarynavigation {
    padding-inline: clamp(3rem, 7vw, 7rem);
  }
}

@media (min-width: 35em) and (max-width: 44.999em) {
  .primary-header .primarynavigation a > span {
    display: none;
  }
}

@media (min-width: 45em) {
  .primary-header .primarynavigation {
    margin-block: 3rem;
  }
  .primary-header .primarynavigation > :first-child {
    width: 100px;
  }
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  background: transparent;
}

.underline-indicators :hover,
.underline-indicators :focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.underline-indicators > .active,
.underline-indicators [aria-selected="true"] {
  color: white;
  border-color: white;
}

.tab-list {
  --gap: 2rem;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: white;
}

.number-indicators * {
  cursor: pointer;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  font-size: 1.75rem;
  place-items: center;
}

.number-indicators button {
  border-color: white;
  border-width: thin;
}

.number-indicators [aria-selected~="true"] {
  color: #0c0e18;
  background-color: white;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  text-align: -webkit-center;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.grid-container p:not([class]) {
  max-width: 50ch;
}

.grid-container .numberedtitles {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

@media (min-width: 45em) {
  .grid-container {
    text-align: left;
    -webkit-column-gap: var(--column-gap, 2rem);
            column-gap: var(--column-gap, 2rem);
    -ms-grid-columns: minmax(2rem, 1fr) (minmax(0, 40rem))[2] minmax(2rem, 1fr);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
  }
}

@media (min-width: 45em) {
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .grid-container--home > *:first-child {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .grid-container--home > *:last-child {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

.grid-container--destination {
  --flow-space: 2rem;
      grid-template-areas: "title" "image" "tabs" "content";
}

.grid-container--destination img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 60%;
}

.grid-container--destination .tab-list {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
}

.grid-container--destination .destination-info {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

.grid-container--destination .destination-meta {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.grid-container--destination .destination-meta p {
  font-size: 1.75rem;
}

@media (min-width: 35em) {
  .grid-container--destination .numberedtitles {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 2rem;
  }
  .grid-container--destination .destination-meta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 45em) {
  .grid-container--destination {
    justify-items: start;
    -ms-flex-line-pack: start;
        align-content: start;
        grid-template-areas: ". title title ." ". image tabs ." ". image content .";
  }
  .grid-container--destination .numberedtitles {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .grid-container--destination picture {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .grid-container--destination picture img {
    max-width: 90%;
  }
  .grid-container--destination .tab-list {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tabs;
  }
  .grid-container--destination .destination-info {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: content;
  }
  .grid-container--destination .destination-meta {
    --gap: 6rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.grid-container--crew {
  --flow-space: 2rem;
      grid-template-areas: "title" "image" "tabs" "content";
}

.grid-container--crew .numberedtitles {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.grid-container--crew picture {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.grid-container--crew picture img {
  max-width: 60%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.grid-container--crew .dot-list {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
}

.grid-container--crew .crew-details {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

.grid-container--crew .crew-details h2 {
  opacity: 0.5;
}

@media (min-width: 35em) {
  .grid-container--crew {
    padding-bottom: 0;
        grid-template-areas: "title" "content" "tabs" "image";
  }
  .grid-container--crew .numberedtitles {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
        justify-self: start;
    margin-top: 2rem;
  }
  .grid-container--crew .dot-indicators {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tabs;
  }
  .grid-container--crew picture {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .grid-container--crew .crew-details {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: content;
  }
}

@media (min-width: 45em) {
  .grid-container--crew {
        grid-template-areas: ".title title ." ".content image ." ". tabs image .";
  }
  .grid-container--crew .dot-indicators {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: tabs;
        justify-self: start;
  }
  .grid-container--crew .numberedtitles {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .grid-container--crew picture {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .grid-container--crew picture img {
    max-width: 90%;
  }
  .grid-container--crew .crew-details {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: content;
  }
}

.grid-container--technology {
  --flow-space: 2rem;
      grid-template-areas: "title" "image" "tabs" "content";
}

.grid-container--technology .numberedtitles {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.grid-container--technology picture {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image;
}

.grid-container--technology picture img {
  src: url("./assets/technology/image-launch-vehicle-portrait.jpg");
}

.grid-container--technology .number-indicators {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tabs;
}

.grid-container--technology .technology-info {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
}

@media (min-width: 35em) {
  .grid-container--technology .numberedtitles {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 2rem;
  }
}

@media (min-width: 45em) {
  .grid-container--technology {
    --flow-space: 2rem;
        grid-template-areas: ". . title  ." ". tabs content image";
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -webkit-box-align: middle;
        -ms-flex-align: middle;
            align-items: middle;
  }
  .grid-container--technology .numberedtitles {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: title;
  }
  .grid-container--technology .number-indicators {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: tabs;
    -ms-grid-column-align: right;
        justify-self: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-container--technology .technology-info {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: content;
  }
  .grid-container--technology picture {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: image;
  }
}

/*----------------------------------------------------------------*/
/*------------PAGES-----------------------------------------------*/
/*----------------------------------------------------------------*/
body {
  background-size: cover;
  background-position: bottom center;
}

.home {
  background-image: url("./assets/home/background-home-mobile.jpg");
}

@media (min-width: 35em) {
  .home {
    background-position: center center;
    background-image: url("./assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url("./assets/home/background-home-desktop.jpg");
  }
}

/* destination */
.destination {
  background-image: url("./assets/destination/background-destination-mobile.jpg");
}

@media (min-width: 35em) {
  .destination {
    background-position: center center;
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .destination {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
  }
}

/* crew */
.crew {
  background-image: url("./assets/crew/background-crew-mobile.jpg");
}

@media (min-width: 35em) {
  .crew {
    background-position: center center;
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .crew {
    background-image: url("./assets/crew/background-crew-desktop.jpg");
  }
}

/*technology*/
.technology {
  background-image: url("./assets/technology/background-technology-mobile.jpg");
}

@media (min-width: 35em) {
  .technology {
    background-position: center center;
    background-image: url("./assets/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 45em) {
  .technology {
    background-image: url("./assets/technology/background-technology-desktop.jpg");
  }
}
/*# sourceMappingURL=index.css.map */