/*-----------------------functin for color in sass-------------------------------------------------*/
@function hslac($color, $alpha) {
	@if (type-of($color) == "color") {
		@return hsla(hue($color), saturation($color), lightness($color), $alpha);
	} @else {
		@error "You didn't pass a color object";
	}
}
/*---------------------------close function for color object----------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------CUSTOM PROPERTIES------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*--font sizes---*/
$fs-900: clamp(5rem, 8vw, 9.375rem);
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

/*---font families--*/
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;

/*--colors-----*/
$clr-dark: hsl(230, 35%, 7%);
$clr-accent: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);

@media (min-width: 35em) {
	$fs-800: 5rem;
	$fs-700: 2.5rem;
	$fs-600: 1.5rem;
	$fs-400: 1rem;
}

@media (min-width: 45em) {
	$fs-800: 6.25rem;
	$fs-700: 3.5rem;
	$fs-600: 2rem;
	$fs-400: 1.125rem;
}
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------DO RESETS FIRST--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
*,
*::before * ::after {
	box-sizing: border-box;
	// makes calculating the widths and heights much  more easier
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: $ff-sans-normal;
	font-size: $fs-400;
	color: $clr-white;
	background-color: $clr-dark;
	line-height: 1.5;
	min-height: 100vh;

	display: grid;
	grid-template-rows: min-content 1fr;

	overflow-x: hidden;
}

html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -------------------------------------------------------------------------------------------------------*/
/*--------------------------IMPORTANT RESETS--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}
.grid-container {
	display: grid;
	text-align: center;
	place-items: center;
	padding-inline: 1rem;
}
.grid-container * {
	max-width: 50ch;
}

@media (min-width: 45em) {
	.grid-container {
		text-align: left;
		column-gap: var(--col-gap, 2rem);
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
				2rem,
				1fr
			);
	}

	.grid-container > *:first-child {
		grid-column: 2;
	}
	.grid-container > *:last-child {
		grid-column: 3;
	}
	.grid-container--home {
		padding-bottom: 5rem;
		align-items: end;
	}
}

.sr-only {
	position: absolute;
	width: 1;
	height: 1;
	padding: 0;
	margin: -1;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.flow > * + * {
	margin-top: var(--flow-space, 1rem);
}

/*---------colors------*/
.bg-dark {
	background-color: $clr-dark;
}
.bg-accent {
	background-color: $clr-accent;
}
.bg-white {
	background-color: $clr-white;
}

.text-dark {
	color: $clr-dark;
}
.text-accent {
	color: $clr-accent;
}
.text-white {
	color: $clr-white;
}

// typography
.ff-serif {
	font-family: $ff-serif;
}
.ff-sans-cond {
	font-family: $ff-sans-cond;
}
.ff-sans-normal {
	font-family: $ff-sans-normal;
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: $fs-900;
}
.fs-800 {
	font-size: $fs-800;
}
.fs-700 {
	font-size: $fs-700;
}
.fs-600 {
	font-size: $fs-600;
}
.fs-500 {
	font-size: $fs-500;
}
.fs-400 {
	font-size: $fs-400;
}
.fs-300 {
	font-size: $fs-300;
}
.fs-200 {
	font-size: $fs-200;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/*-------------numbers--------------*/
.numberedtitles {
	text-transform: uppercase;
	letter-spacing: 4.72px;
	font-size: $fs-500;
	font-family: $ff-sans-cond;
}

.numberedtitles span {
	font-weight: 700;
	margin-right: 0.4em;
	color: hslac($clr-white, 0.25);
}
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------COMPONENTS------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.largebutton {
	position: relative;
	display: inline-grid;
	font-size: 2rem;
	padding: 2em;
	border-radius: 50%;
	aspect-ratio: 1;
	text-decoration: none;
	place-items: center;
	z-index: 1;
}

.largebutton::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: hslac($clr-white, 0.15);
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.largebutton:focus::after,
.largebutton:hover::after {
	opacity: 1;
	transform: scale(1.5);
}
.logo {
	margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
	justify-content: space-between;
	align-items: center;
}
.primarynavigation {
	--gap: clamp(2rem, 5vw, 3rem);
	--underline-gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
	background: hslac($clr-white, 0.1);
	backdrop-filter: blur(1rem);
}
.primarynavigation a {
	text-decoration: none;
	text-align: center;
}

.primarynavigation a > span {
	margin-right: 0.6em;
	font-weight: 700;
}

.mobile-toggler {
	display: none;
}

@media (max-width: 35em) {
	.primarynavigation {
		--underline-gap: 0.5rem;
		list-style: none;
		position: fixed;
		z-index: 1;
		inset: 0 0 0 30%;
		padding: 5rem 2rem;
		margin: 0;
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 500ms ease-in-out;
	}

	.primarynavigation[data-visible="true"] {
		transform: translateX(0);
	}
	.primary-navigation.underline-indicators > .active {
		border: 0;
	}

	.mobile-toggler {
		display: block;
		position: absolute;
		right: 1rem;
		top: 2rem;
		z-index: 3;
		background: transparent;
		background-image: url(../starter-code/assets/shared/icon-hamburger.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 2rem;
		aspect-ratio: 1;
		border: 0;
	}

	.mobile-toggler[aria-expanded="true"] {
		background-image: url(../starter-code/assets/shared/icon-close.svg);
		background-repeat: no-repeat;
	}
	.mobile-toggler:focus-visible {
		outline-offset: 5px;
	}
}

@media (min-width: 35em) {
	.primarynavigation {
		padding-inline: clamp(3rem, 7vw, 7rem);
	}
}

@media (min-width: 35em) and (max-width: 44.999em) {
	.primarynavigation a > span {
		display: none;
	}
}

@media (min-width: 45em) {
	.primary-header::after {
		content: "";
		display: block;
		position: relative;
		height: 1px;
		width: 100%;
		margin-right: -2.5rem;
		background: hslac($clr-white, 0.25);
		order: 1;
	}

	nav {
		order: 2;
	}

	.primarynavigation {
		margin-block: 2rem;
	}
	.primarynavigation > *:first-child {
		width: 120px;
		display: flex;
		justify-content: center;
	}
}

.underline-indicators > * {
	cursor: pointer;
	border: 0;
	border-bottom: 0.2rem solid hslac($clr-white, 0);
	padding: var(--underline-gap, 1.5rem) 0;
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
	border-color: hslac($clr-white, 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
	color: hslac($clr-white, 0);
	border-color: hslac($clr-white, 1);
}

.dot-indicators > * {
	cursor: pointer;
	border: 0;
	border-radius: 50%;
	padding: 0.5em;
	background-color: hslac($clr-white, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
	background-color: hslac($clr-white, 0.5);
}

.dot-indicators > [aria-selected="true"] {
	background-color: hslac($clr-white, 1);
}

/*----------------------------------------------------------------*/
/*------------PAGES-----------------------------------------------*/
/*----------------------------------------------------------------*/
body {
	background-size: cover;
	background-position: bottom center;
}

.home {
	background-image: url("../starter-code/assets/home/background-home-mobile.jpg");
}

@media (min-width: 35em) {
	.home {
		background-position: center center;
		background-image: url("../starter-code/assets/home/background-home-tablet.jpg");
	}
}

@media (min-width: 45em) {
	.home {
		background-image: url("../starter-code/assets/home/background-home-desktop.jpg");
	}
}

/* destination */
.destination {
	background-image: url("../starter-code/assets/destination/background-destination-mobile.jpg");
}

@media (min-width: 35em) {
	.destination {
		background-position: center center;
		background-image: url("../starter-code/assets/destination/background-destination-tablet.jpg");
	}
}

@media (min-width: 45em) {
	.destination {
		background-image: url("../starter-code/assets/destination/background-destination-desktop.jpg");
	}
}

/* crew */
.crew {
	background-image: url("../starter-code/assets/home/background-crew-mobile.jpg");
}

@media (min-width: 35em) {
	.crew {
		background-position: center center;
		background-image: url("../starter-code/assets/crew/background-crew-tablet.jpg");
	}
}

@media (min-width: 45em) {
	.crew {
		background-image: url("../starter-code/assets/crew/background-crew-desktop.jpg");
	}
}

/*technology*/
.technology {
	background-image: url("../starter-code/assets/home/background-technology-mobile.jpg");
}

@media (min-width: 35em) {
	.technology {
		background-position: center center;
		background-image: url("../starter-code/assets/technology/background-technology-tablet.jpg");
	}
}

@media (min-width: 45em) {
	.technology {
		background-image: url("../starter-code/assets/technology/background-technology-desktop.jpg");
	}
}
