/*-----------------------functin for color in sass-------------------------------------------------*/
@function hslac($color, $alpha) {
	@if (type-of($color) == "color") {
		@return hsla(hue($color), saturation($color), lightness($color), $alpha);
	} @else {
		@error "You didn't pass a color object";
	}
}
/*---------------------------close function for color object----------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------CUSTOM PROPERTIES------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
:root {
	/*--font sizes---*/
	--fs-900: 9.375rem;
	--fs-800: 6.25rem;
	--fs-700: 3.5rem;
	--fs-600: 2rem;
	--fs-500: 1.75rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fe-200: 0.875rem;

	/*---font families--*/
	--ff-serif: "Bellefair", serif;
	--ff-sans-cond: "Barlow Condensed", sans-serif;
	--ff-sans-normal: "Barlow", sans-serif;
}

/*--colors-----*/
$clr-dark: hsl(230, 35%, 7%);
$clr-accent: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------DO RESETS FIRST--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
*,
*::before * ::after {
	box-sizing: border-box;
	// makes calculating the widths and heights much  more easier
}

/* Remove default margin */

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hslac($clr-white, 0);
	background-color: hslac($clr-dark, 0);
	line-height: 1.5;
	min-height: 100vh;

	display: grid;
	grid-template-rows: min-content 1fr;

	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -------------------------------------------------------------------------------------------------------*/
/*--------------------------IMPORTANT RESETS--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.sr-only {
	position: absolute;
	width: 1;
	height: 1;
	padding: 0;
	margin: -1;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.flow > * + * {
	margin-top: var(--flow-space, 1rem);
}

/*---------colors------*/
.bg-dark {
	background-color: hslac($clr-dark, 0);
}
.bg-accent {
	background-color: hslac($clr-accent, 0);
}
.bg-white {
	background-color: hslac($clr-accent, 0);
}

.text-dark {
	background-color: hslac($clr-dark, 0);
}
.text-accent {
	background-color: hslac($clr-accent, 0);
}
.text-white {
	background-color: hslac($clr-white, 0);
}

// typography
.ff-serif {
	font-family: var(--ff-serif);
}
.ff-sans-cond {
	font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/*-------------numbers--------------*/
.numberedtitles {
	text-transform: uppercase;
	letter-spacing: 4.72px;
	font-size: var(--fs-500);
	font-family: var(--ff-sans-cond);
}

.numberedtitles span {
	font-weight: 700;
	margin-right: 0.4em;
	color: hslac($clr-white, 0.25);
}
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------COMPONENTS------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.largebutton {
	position: relative;
	display: grid;
	place-items: centre;
	border-radius: 50%;
	padding: 0 2em;
	aspect-ratio: 1;
	text-decoration: none;
	z-index: 1;
}

.largebutton::after {
	position: absolute;
	content: "";
	color: red;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.largebutton:focus::after,
.largebutton:hover::after {
	opacity: 1;
	transform: scale(1.5);
}

.primary-header {
	justify-content: space-between;
	align-items: center;
}

.primarynavigation {
	--gap: 8rem;
	--underline-gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
.primarynavigation a {
	text-decoration: none;
}

.primarynavigation a > span {
	margin-right: 0.5em;
	font-weight: 700;
}

.underline-indicators > * {
	cursor: pointer;
	border: 0;
	border-bottom: 0.2rem solid hslac($clr-white, 0);
	padding: var(--underline-gap, 1rem) 0;
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
	border-color: hslac($clr-white, 0.25);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
	color: hslac($clr-white, 1);
	border-color: hslac($clr-white, 1);
}

.dot-indicators > * {
	cursor: pointer;
	border: 0;
	border-radius: 50%;
	padding: 0.5em;
	background-color: hslac($clr-white, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
	background-color: hslac($clr-white, 0.5);
}

.dot-indicators > [aria-selected="true"] {
	background-color: hslac($clr-white, 1);
}
