/*-----------------------functin for color in sass-------------------------------------------------*/
@function hslac($color, $alpha) {
	@if (type-of($color) == "color") {
		@return hsla(hue($color), saturation($color), lightness($color), $alpha);
	} @else {
		@error "You didn't pass a color object";
	}
}
/*---------------------------close function for color object----------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------CUSTOM PROPERTIES------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

/*--font sizes---*/
$fs-900: unquote("clamp(5rem, 8vw + 1rem, 9.375rem)");
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-400: 1rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

/*---font families--*/
$ff-serif: "Bellefair", serif;
$ff-sans-cond: "Barlow Condensed", sans-serif;
$ff-sans-normal: "Barlow", sans-serif;

/*--colors-----*/
$clr-dark: hsl(230, 35%, 7%);
$clr-accent: hsl(231, 77%, 90%);
$clr-white: hsl(0, 0%, 100%);

@media (min-width: 35em) {
	$fs-800: 5rem;
	$fs-700: 2.5rem;
	$fs-600: 1.5rem;
	$fs-500: 1.25rem;
	$fs-400: 1rem;
}

@media (min-width: 45em) {
	$fs-800: 6.25rem;
	$fs-700: 3.5rem;
	$fs-600: 2rem;
	$fs-500: 1.75rem;
	$fs-400: 1.125rem;
}
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------DO RESETS FIRST--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
*,
*::before,
*::after {
	box-sizing: border-box;
	// makes calculating the widths and heights much  more easier
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: $ff-sans-normal;
	font-size: $fs-400;
	color: $clr-white;
	background-color: $clr-dark;
	line-height: 1.5;
	min-height: 100vh;

	display: grid;
	grid-template-rows: min-content 1fr;

	overflow-x: hidden;
}

html:focus-within {
	scroll-behavior: smooth;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* -------------------------------------------------------------------------------------------------------*/
/*--------------------------IMPORTANT RESETS--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.sr-only {
	position: absolute;
	width: 1;
	height: 1;
	padding: 0;
	margin: -1;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0, 0, 0, 0);
}

.flow--space-small {
	--flow-space: 0.75rem;
}

.flow > * + * {
	margin-top: var(--flow-space, 1rem);
}

/*---------colors------*/
.bg-dark {
	background-color: $clr-dark;
}
.bg-accent {
	background-color: $clr-accent;
}
.bg-white {
	background-color: $clr-white;
}

.text-dark {
	color: $clr-dark;
}
.text-accent {
	color: $clr-accent;
}
.text-white {
	color: $clr-white;
}

// typography
.ff-serif {
	font-family: $ff-serif;
}
.ff-sans-cond {
	font-family: $ff-sans-cond;
}
.ff-sans-normal {
	font-family: $ff-sans-normal;
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: $fs-900;
}
.fs-800 {
	font-size: $fs-800;
}
.fs-700 {
	font-size: $fs-700;
}
.fs-600 {
	font-size: $fs-600;
}
.fs-500 {
	font-size: $fs-500;
}
.fs-400 {
	font-size: $fs-400;
}
.fs-300 {
	font-size: $fs-300;
}
.fs-200 {
	font-size: $fs-200;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/*-------------numbers--------------*/
.numberedtitles {
	text-transform: uppercase;
	letter-spacing: 4.72px;
	font-size: $fs-500;
	font-family: $ff-sans-cond;
}

.numberedtitles span {
	font-weight: 700;
	margin-right: 0.5em;
	color: hslac($clr-white, 0.25);
}
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------COMPONENTS------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.largebutton {
	position: relative;
	display: inline-grid;
	font-size: 2rem;
	padding: 0 2em;
	border-radius: 50%;
	aspect-ratio: 1;
	text-decoration: none;
	place-items: center;
	z-index: 1;
}

.largebutton::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: hslac($clr-white, 0.15);
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.largebutton:focus::after,
.largebutton:hover::after {
	opacity: 1;
	transform: scale(1.5);
}

.logo {
	margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
	justify-content: space-between;
	align-items: center;

	@media (min-width: 35em) {
		&::after {
			content: "";
			display: block;
			position: relative;
			height: 2px;
			width: 100%;
			margin-right: -2.5rem;
			background: hslac($clr-white, 0.25);
			order: 1;
		}

		nav {
			order: 2;
		}
	}

	.mobile-toggler {
		display: none;

		@media (max-width: 35em) {
			display: block;
			position: absolute;
			right: 1rem;
			top: 2rem;
			z-index: 3;
			background: transparent;
			background-image: url(./assets/shared/icon-hamburger.svg);
			background-repeat: no-repeat;
			background-position: center;
			width: 2rem;
			aspect-ratio: 1;
			border: 0;

			&[aria-expanded~="true"] {
				background-image: url(./assets/shared/icon-close.svg);
				background-repeat: no-repeat;
			}

			&:focus-visible {
				outline-offset: 5px;
			}
		}
	}

	.primarynavigation {
		--gap: clamp(2rem, 5vw, 3.5rem);
		--underline-gap: 2rem;
		list-style: none;
		padding: 0;
		margin: 0;
		background: hslac($clr-white, 0.1);
		backdrop-filter: blur(1rem);

		a {
			text-decoration: none;
		}

		a > span {
			margin-right: 0.5em;
			font-weight: 700;
		}

		@media (max-width: 35em) {
			--underline-gap: 0.5rem;
			flex-direction: column;
			position: fixed;
			inset: 0 0 0 30%;
			list-style: none;
			z-index: 2;
			padding: unquote("min(20rem, 10vh)") 2rem;
			margin: 0;
			transform: translateX(100%);
			transition: transform 500ms ease-in-out;

			> .active {
				border: 0;
			}

			&[data-visible~="true"] {
				transform: translateX(0);
			}
		}

		@media (min-width: 35em) {
			padding-inline: clamp(3rem, 7vw, 7rem);
		}

		@media (min-width: 35em) and (max-width: 44.999em) {
			a > span {
				display: none;
			}
		}

		@media (min-width: 45em) {
			> :first-child {
				width: 100px;
			}
			margin-block: 3rem;
		}
	}
}

.underline-indicators {
	> * {
		cursor: pointer;
		padding: var(--underline-gap, 0.5rem) 0;
		border: 0;
		border-bottom: 0.2rem solid hslac($clr-white, 0);
		background: transparent;
	}

	:hover,
	:focus {
		border-color: hslac($clr-white, 0.5);
	}
	> .active,
	[aria-selected="true"] {
		color: hslac($clr-white, 1);
		border-color: hslac($clr-white, 1);
	}
}

.tab-list {
	--gap: 2rem;
}

.dot-indicators > * {
	cursor: pointer;
	border: 0;
	border-radius: 50%;
	padding: 0.5em;
	background-color: hslac($clr-white, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
	background-color: hslac($clr-white, 0.5);
}

.dot-indicators > [aria-selected="true"] {
	background-color: hslac($clr-white, 1);
}

.number-indicators {
	* {
		cursor: pointer;
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		font-size: $fs-500;
		place-items: center;
	}

	button {
		border-color: $clr-white;
		border-width: thin;
	}

	[aria-selected~="true"] {
		color: hslac($clr-dark, 1);
		background-color: hslac($clr-white, 1);
	}
}

.grid-container {
	display: grid;
	text-align: -webkit-center;
	place-items: center;
	padding-inline: 1rem;
	padding-bottom: 4rem;

	p:not([class]) {
		max-width: 50ch;
	}

	.numberedtitles {
		grid-area: title;
	}

	@media (min-width: 45em) {
		text-align: left;
		column-gap: var(--column-gap, 2rem);
		grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
				2rem,
				1fr
			);
	}
}

.grid-container--home {
	@media (min-width: 45em) {
		> *:first-child {
			grid-column: 2;
		}
		> *:last-child {
			grid-column: 3;
		}
		padding-bottom: unquote("max(6rem, 20vh)");
		align-items: end;
	}
}

.grid-container--destination {
	--flow-space: 2rem;
	grid-template-areas:
		"title"
		"image"
		"tabs"
		"content";

	img {
		grid-area: image;
		max-width: 60%;
		align-self: start;
	}

	.tab-list {
		grid-area: tabs;
	}

	.destination-info {
		grid-area: content;
	}

	.destination-meta {
		flex-direction: column;
		border-top: 2px solid hslac($clr-white, 0.1);
		padding-top: 2.5rem;
		margin-top: 2.5rem;

		p {
			font-size: 1.75rem;
		}
	}

	@media (min-width: 35em) {
		.numberedtitles {
			justify-self: start;
			margin-top: 2rem;
		}

		.destination-meta {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

	@media (min-width: 45em) {
		justify-items: start;
		align-content: start;

		grid-template-areas:
			". title title ."
			". image tabs ."
			". image content .";
		.numberedtitles {
			grid-area: title;
		}
		picture {
			grid-area: image;
			img {
				max-width: 90%;
			}
		}
		.tab-list {
			grid-area: tabs;
		}
		.destination-info {
			grid-area: content;
		}

		.destination-meta {
			--gap: 6rem;
			justify-content: start;
		}
	}
}

.grid-container--crew {
	--flow-space: 2rem;
	grid-template-areas:
		"title"
		"image"
		"tabs"
		"content";

	.numberedtitles {
		grid-area: title;
	}

	picture {
		grid-area: image;
		img {
			max-width: 60%;
			border-bottom: 2px solid hslac($clr-white, 0.1);
		}
	}

	.dot-list {
		grid-area: tabs;
	}

	.crew-details {
		grid-area: content;
		h2 {
			opacity: 0.5;
		}
	}

	@media (min-width: 35em) {
		padding-bottom: 0;
		.numberedtitles {
			grid-area: title;
			justify-self: start;
			margin-top: 2rem;
		}
		grid-template-areas: "title" "content" "tabs" "image";
		.dot-indicators {
			grid-area: tabs;
		}

		picture {
			grid-area: image;
		}
		.crew-details {
			grid-area: content;
		}
	}

	@media (min-width: 45em) {
		grid-template-areas: ".title title ." ".content image ." ". tabs image .";
		.dot-indicators {
			grid-area: tabs;
			justify-self: start;
		}
		.numberedtitles {
			grid-area: title;
		}

		picture {
			grid-area: image;
			img {
				max-width: 90%;
			}
		}
		.crew-details {
			grid-area: content;
		}
	}
}

.grid-container--technology {
	--flow-space: 2rem;
	grid-template-areas:
		"title"
		"image"
		"tabs"
		"content";

	.numberedtitles {
		grid-area: title;
	}

	picture {
		grid-area: image;
		img {
			src: url("./assets/technology/image-launch-vehicle-portrait.jpg");
		}
	}
	.number-indicators {
		grid-area: tabs;
	}

	.technology-info {
		grid-area: content;
	}

	@media (min-width: 35em) {
		.numberedtitles {
			justify-self: start;
			margin-top: 2rem;
		}
	}

	@media (min-width: 45em) {
		--flow-space: 2rem;
		grid-template-areas:
			". . title  ."
			". tabs content image";
		grid-template-columns: max-content;
		align-items: middle;
		.numberedtitles {
			grid-area: title;
		}

		.number-indicators {
			grid-area: tabs;
			justify-self: right;
			flex-direction: column;
		}

		.technology-info {
			grid-area: content;
		}

		picture {
			grid-area: image;
			img {
			}
		}
	}
}

/*----------------------------------------------------------------*/
/*------------PAGES-----------------------------------------------*/
/*----------------------------------------------------------------*/
body {
	background-size: cover;
	background-position: bottom center;
}
.home {
	background-image: url("./assets/home/background-home-mobile.jpg");

	@media (min-width: 35em) {
		background-position: center center;
		background-image: url("./assets/home/background-home-tablet.jpg");
	}

	@media (min-width: 45em) {
		background-image: url("./assets/home/background-home-desktop.jpg");
	}
}

/* destination */
.destination {
	background-image: url("./assets/destination/background-destination-mobile.jpg");

	@media (min-width: 35em) {
		background-position: center center;
		background-image: url("./assets/destination/background-destination-tablet.jpg");
	}

	@media (min-width: 45em) {
		background-image: url("./assets/destination/background-destination-desktop.jpg");
	}
}

/* crew */
.crew {
	background-image: url("./assets/crew/background-crew-mobile.jpg");

	@media (min-width: 35em) {
		background-position: center center;
		background-image: url("./assets/crew/background-crew-tablet.jpg");
	}

	@media (min-width: 45em) {
		background-image: url("./assets/crew/background-crew-desktop.jpg");
	}
}

/*technology*/
.technology {
	background-image: url("./assets/technology/background-technology-mobile.jpg");

	@media (min-width: 35em) {
		background-position: center center;
		background-image: url("./assets/technology/background-technology-tablet.jpg");
	}

	@media (min-width: 45em) {
		background-image: url("./assets/technology/background-technology-desktop.jpg");
	}
}
