/*-----------------------functin for color in sass-------------------------------------------------*/
/*---------------------------close function for color object----------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------CUSTOM PROPERTIES------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--font sizes---*/
/*---font families--*/
/*--colors-----*/
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------DO RESETS FIRST--------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
*,
*::before * ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: white;
  background-color: #0c0e18;
  line-height: 1.5;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------------------------------------------------------*/
/*--------------------------IMPORTANT RESETS--------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding: 0 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -ms-grid-columns: 2em (minmax(0, 40rem))[2] 2em;
      grid-template-columns: 2em repeat(2, minmax(0, 40rem)) 2em;
}

.sr-only {
  position: absolute;
  width: 1;
  height: 1;
  padding: 0;
  margin: -1;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

/*---------colors------*/
.bg-dark {
  background-color: #0c0e18;
}

.bg-accent {
  background-color: #d2d8f9;
}

.bg-white {
  background-color: white;
}

.text-dark {
  color: #0c0e18;
}

.text-accent {
  color: #d2d8f9;
}

.text-white {
  color: white;
}

.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: 9.375rem;
}

.fs-800 {
  font-size: 6.25rem;
}

.fs-700 {
  font-size: 3.5rem;
}

.fs-600 {
  font-size: 2rem;
}

.fs-500 {
  font-size: 1.75rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/*-------------numbers--------------*/
.numberedtitles {
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-size: 1.75rem;
  font-family: "Barlow Condensed", sans-serif;
}

.numberedtitles span {
  font-weight: 700;
  margin-right: 0.4em;
  color: rgba(255, 255, 255, 0.25);
}

/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------UTILITY CLASSES-------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------*/
/*--------------------------COMPONENTS------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------*/
.largebutton {
  position: relative;
  z-index: 1;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  padding: 0 2em;
  aspect-ratio: 0.5;
  text-decoration: none;
}

.largebutton::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 500ms linear, -webkit-transform 750ms ease-in-out;
  transition: opacity 500ms linear, -webkit-transform 750ms ease-in-out;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
  transition: opacity 500ms linear, transform 750ms ease-in-out, -webkit-transform 750ms ease-in-out;
}

.largebutton:focus::after,
.largebutton:hover::after {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primarynavigation {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primarynavigation a {
  text-decoration: none;
}

.primarynavigation a > span {
  margin-right: 0.5em;
  font-weight: 700;
}

.underline-indicators > * {
  cursor: pointer;
  border: 0;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
  padding: var(--underline-gap, 1rem) 0;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: rgba(255, 255, 255, 0);
  border-color: white;
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: white;
}
/*# sourceMappingURL=index.css.map */